<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{instance.name}}</mat-card-title>
    <mat-card-subtitle>{{instance.id}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>instance type: {{instance.type}}</p>
    <p>instance image id: {{instance.imageId}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="emitStopInstance()">stop</button>
    <button (click)="emitStartInstance()">start</button>
    <button (click)="emitTerminateInstance()">terminate</button>
  </mat-card-actions>
</mat-card>
