<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{instance.name}} ({{instance.state}})</mat-card-title>
    <mat-card-subtitle>{{instance.id}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>instance type: {{instance.type}}</p>
    <p>instance image id: {{instance.imageId}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="emitStopInstance()">stop</button>
    <button mat-raised-button color="primary" (click)="emitStartInstance()">start</button>
    <button mat-raised-button color="warn" (click)="emitTerminateInstance()">terminate</button>
  </mat-card-actions>
</mat-card>
