<app-header (menuClicked)="sidenav.toggle()"></app-header>
<mat-drawer-container class="drawer-container">
  <mat-drawer #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="bucket-browser" routerLinkActive="active-link">S3: przegląd plików</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="bucket-archive" routerLinkActive="active-link">S3: archiwizacja plików</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="ec2-browser" routerLinkActive="active-link">EC2: listowanie maszyn, odpalanie i
        wyłączanie</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="polly" routerLinkActive="active-link">Polly: zamiana wprowadzonego tekstu
        na mowę</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="translation" routerLinkActive="active-link">Translation: tłumaczenie tekstu</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="comprehend-sentiment" routerLinkActive="active-link">Comprehend: analiza
        sentymentu</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="rekognition-labeling" routerLinkActive="active-link">Rekognition: wysyłka obrazu i
        pobranie etykiet</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="textract-ocr" routerLinkActive="active-link">Textract: OCR - wysyłka pliku i zwrot tekstu</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="logs" routerLinkActive="active-link">Logi</a>
    </mat-nav-list>
  </mat-drawer>

  <main>
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
